.topbar, ul {
  list-style-type: none;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0, 0.9);
}

li:nth-of-type(1){
  display: inline-block;
  font-family: 'Neucha', cursive;
  font-size: 16px;
  color: white;
  float: left;
}

li {
  float: right;
}

li a {
  display: block;
  font-family: 'Neucha', cursive;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
body{
  margin:-8px;
  background-color : white;
}

.title{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  font-family: 'Kaushan Script', cursive;
  font-size: 68px;
  width: 350px;
  text-align:center;
}
p{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 32px;
}
.main{
  left:12%;
  top: 0;
  bottom: 0;
  padding:30px;
  width:70%;
  /* background-color: black; */
  color: black;
  position: absolute;
  float: left;
  text-align: center;

}

div.column {
  margin: 45px;
  border: 1px solid #ccc;
  float: left;
  width: 219px;
}

div.column:hover {
  border: 1px solid #777;
}

div.column img {
  width: 100%;
}

.activity{
  padding-bottom: 12px;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 25px;

}
