.topbar, #nav {
  list-style-type: none;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0, 0.9);
}

#Nlist:nth-of-type(1){
  display: inline-block;
  font-family: 'Neucha', cursive;
  font-size: 16px;
  color: white;
}

#Nlist {
  float: right;
}

#Nlist a {
  display: block;
  font-family: 'Neucha', cursive;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#Nlist a:hover {
  background-color: #111;
}

.logo img{
  float:left;
  margin: 10px 10px 10px;
  width: 30px;
  height: 30px;
}

body{
  margin:-5px;
  background-image:url("border.png");
  background-size: cover;
  background-blend-mode:lighten;
  top: 0;
  right: 0;
  z-index: -1;
}

.title{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  font-family: 'Kaushan Script', cursive;
  font-size: 52px;
  width: 350px;
  text-align:center;
}
p{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 32px;
}
.main{
  margin: 0 auto;
  margin-bottom: 50px;
  left:15%;
  top: 0;
  padding:20px;
  width:80%;
  /* background-color: black; */
  color: black;
  position: absolute;
  float: left;
  text-align: center;

}

div.column {
  position: relative;
  padding: 14px;
  margin: 18px;
  border: 3px solid #d9d9d9;
  background-color: #ffffff;
  float: left;
  width: 240px;

}

div.column:hover {
  border: 2px solid #404040;
  background-color: #000000;

}

div.column img {
  height: 146px; width: 219px;
  -webkit-transition: width 3s, height 5s; /* Safari */
  transition: width 3s, height 5s;
}
div.column.img:hover{
  width: 250px;
  height:200px;
}
/* #hiking{
  position: relative;
  padding: 14px;
  margin: 18px;
  border: 3px solid #d9d9d9;
  background-color: #ffffff;
  float: left;
  width: 240px;
  -webkit-transition-timing-function: ease;
  -webkit-transition: width 2s, height 4s; /* For Safari 3.1 to 6.0 */
   /* transition: width 2s, height 4s;
} 
#hiking:hover{
  width: 250px;
  height:200px;
} */
.activity{
  padding-bottom: 5px;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 25px;
  color:#000000;
}
.activity:hover{
  color:#ffffff;

}
/* footer */
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px;
  margin-top: 100px;
  background-color: rgb(0, 0, 0, 0.9);
  color: white;
  text-align: center;
  font-size: 15px;
  font-family: sans-serif;

}
#hover a {
  color: grey;
  text-decoration: none;
}
#Flist{
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
}
#hover{
  text-align: inherit;
  display: inline-block;
  padding: 0 9px 0 9px;
  margin: 0 auto;
  color: grey;
}
