.topbar, #nav {
  list-style-type: none;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0, 0.9);
}

#Nlist:nth-of-type(1){
  display: inline-block;
  font-family: 'Neucha', cursive;
  font-size: 16px;
  color: white;
}

#Nlist {
  float: right;
}

#Nlist a {
  display: block;
  font-family: 'Neucha', cursive;
  color: white;
  text-align: center;
  padding:16px;
  text-decoration: none;
}
#Nlist a:hover {
  background-color: #a6a6a6;
}

.logo img{
  float:left;
  margin: 10px 10px 10px;
  width: 30px;
  height: 30px;
}

body{
  margin:-5px;
  background-image:url("border.png");
  background-size: cover;
  background-blend-mode:lighten;
  top: 0;
  right: 0;
  z-index: -1;
}

.title{
  position: absolute;
  top: 24%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  font-family: 'Kaushan Script', cursive;
  font-size: 52px;
  width: 350px;
  text-align:center;
}
p{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 32px;
}
.main{
  margin: 0 auto;
  margin-bottom: 50px;
  left:8%;
  top: 12px;
  padding:20px;
  width:90%;
  /* background-color: black; */
  color: black;
  position: absolute;
  float: left;
  text-align: center;
  z-index: 0;

}

div.column {
  position:relative;
  padding: 20px;
  margin: 25px;
  left:9%;
  border: 3px solid #d9d9d9;
  background-color: #ffffff;
  float: left;
  width: 230px;
  -webkit-transition: width 1s, height 1s; /* Safari */
  transition: width 1s, height 1s;

}

div.column:hover {
  border: 2px solid #404040;
  background-color: #000000;
  width: 240px;
  height:200px;

}

.activity{
  padding-bottom: 5px;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 25px;
  color:#000000;
}
.activity:hover{
  color:#ffffff;

}
/* footer */
.footer{
  position: relative;
  left: 0;
  bottom: 0;
  top: 20px;
  width: 100%;
  padding: 20px;
  margin-top: 100px;
  background-color: rgb(0, 0, 0, 0.9);
  color: white;
  text-align: center;
  font-size: 15px;
  font-family: sans-serif;

}
#hover a {
  color: grey;
  text-decoration: none;
}
#Flist{
  margin: 0;
  text-align: center;
  margin-top: 10px;
}
#hover{
  text-align: inherit;
  display: inline-block;
  padding: 0 9px 0 9px;
  margin: 0 auto;
  color: #cccccc;
}
#hover a:hover{
  color: #a6a6a6
}
