.footer{
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height:30px;
  text-align: center;
  font-size: 12px;
  font-family: sans-serif;
  color background: #fff;
}
#hover a {
  color: grey;
  text-decoration: none;
}

ul{
  margin: 0 auto;
  text-align: center;
}
li{
  text-align: inherit;
  display: inline-block;
  padding: 0 9px 0 9px;
  margin: 0 auto;
  color: grey;
}
