body{
  background-image: url(vine3.png);
  margin: -5px;
  background-size: cover;
  background-blend-mode: lighten;
  top: 0;
  right: 0;
  z-index:-1;
  font-family: 'Neucha', monospace;
  }

.topbar, #nav {
  list-style-type: none;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0, 0.9);
}

#Nlist:nth-of-type(1){
  display: inline-block;
  font-family: 'Neucha', cursive;
  font-size: 16px;
  color: white;
}

#Nlist {
  float: right;
}

#Nlist a {
  display: block;
  font-family: 'Neucha', cursive;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#Nlist a:hover {
  background-color: #111;
}

.logo img{
  float:left;
  margin: 10px 10px 10px;
  width: 30px;
  height: 30px;
}
.title{
  text-align: center;
  background-color: 	rgb(220,220,220, 0.3);
  padding: 5px;
}
h1{
   font-size: 70px;
   font-weight: bolder;
   color: black;
   margin-top: 50px;
   height: 60px;
}
h3{
  color: #8B4513;
  font-size: 25px;
  margin-top: -20px;
  letter-spacing: 10px;
}

.fotorama{
  width: 90%;
  height: 50%;
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

a {
  color: black;
  text-decoration: none;
}
p a:hover {
  background-color: 	#C71585;
}
p{
  margin-left:550px;
  font-size: 25px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: center;
  width: 75.3%;
  height: 80%;
  margin-bottom: 5px;
  margin-left: 230px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
  }
}

img{
  width: 1500px;
  height: 500px;
  margin-top: 30px;
}

.card {
  background-color: rgb(255,255,240,0.0.5);
    float: center;
}

.container {
  padding: 0 16px;
  background-color: rgb(255,255,240,0.3);
  float: center;

}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}
button{
  background: rgb(26,171,138,0.8);
  font-family: 'Neucha', monospace;
  color:#fff;
  border:none;
  height:60px;
  font-size:1.8em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  margin-left: 560px;

}
button:hover{
  background:#fff;
  color:#1AAB8A;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}
/* footer */
.footer{
  position: relative;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height:40px;
  text-align: center;
  font-size: 15px;
  font-family: sans-serif;
  background-color: #000;
}
#hover a {
  color: grey;
  text-decoration: none;
}
#Flist{
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
}
#hover{
  text-align: inherit;
  display: inline-block;
  padding: 0 9px 0 9px;
  margin: 0 auto;
  color: grey;
}
