body{
  background-color: white;
  margin: -5px;
}
.topbar, .button {
  list-style-type: none;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0, 0.9);
}
#tb:nth-of-type(1){
  display: inline-block;
  font-family: 'Neucha', cursive;
  font-size: 16px;
  color: white;
  float: left;
}

#tb {
  float: right;
}

#tb #page {
  display: block;
  font-family: 'Neucha', cursive;
  color: white;
  background-color:black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#tb #page:hover {
  background-color: #111;
}
h2{
  border: 1px solid black;
  background-color: black;
  color: white;
  font-family: fantasy;
}
#place{
  text-align: left;
  color: black;
  text-shadow: 5px black;
  font-weight: bold;
  font-family: 'Neucha', cursive;
  border: 1px solid white;
  width: 70%;
  background-color: white;
  opacity: 0.6;
}
#map{
  text-decoration: none;
  color: black;
}
#map:hover, #map.liststate:active{
  color: blue;
  text-decoration: underline;
}
.pin{
  margin-top: 40px;
  background: transparent;
  display: inline-block;
  border-radius: 14px 14px 14px 0;
  width: 8px;
  height: 8px;
  border: 6px solid #f33;
  transform: rotate(-45deg);
  position: relative;
  box-shadow: -1px 1px 2px rgba(0,0,0,.2);
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}
.flex-container > div {
  width: 420px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  border-radius: 50px;
}
.scuba{
  background-image: url("743faea9cdaa4e5ab96aace18de75a3eroatan_diving_lg_lg.jpg");
}
.skytrex{
  background-image: url("maxresdefault.jpg");
  background-position: bottom;
}
.skydive{
  background-image: url("static-line-skydiving-training.jpg");
  background-position: right;
  background-size: 760px;
}
.sight{
  background-image: url("150905-malaysia-kuala-lumpur-73.jpg");
  background-position: center;
  background-size: 670px;
}
.camp{
  background-image: url("gettyimages-649155058.jpg");
  background-position: center;
  background-size: cover;
  height: 700px;

}
.hike{
  background-image: url("hiking-gear-checklist.jpg");
  background-position: left;
  background-size: cover;
  height: 700px;
}
