body{
  background-color: white;
  margin: -5px;
}
.topbar, .button {
  list-style-type: none;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0, 0.9);
}
#tb:nth-of-type(1){
  display: inline-block;
  font-family: 'Neucha', cursive;
  font-size: 16px;
  color: white;
  float: left;
}
#tb {
  float: right;
}
#tb #page {
  display: block;
  font-family: 'Neucha', cursive;
  color: white;
  background-color:black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#tb #page:hover {
  background-color: #111;
}
#map{
  text-decoration: none;
  color: black;
}
#map:hover, #map.liststate:active{
  color: black;
  text-decoration: underline;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}
.flex-container > div {
  width: 420px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  border-radius: 50px;
}

.dropbtn{
  border: none;
  background-color: black;
  color: white;
  font-family: fantasy;
  margin-top: 50px;
  font-size: 30px;
  padding-left: 80px;
  padding-right: 80px;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  padding-right: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  font-family: 'Neucha', cursive;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display:block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: red;
}

.scuba{
  background-image: url("743faea9cdaa4e5ab96aace18de75a3eroatan_diving_lg_lg.jpg");
  height: 500px;
}
.skytrex{
  background-image: url("maxresdefault.jpg");
  background-position: bottom;
  height: 500px;
}
.skydive{
  background-image: url("static-line-skydiving-training.jpg");
  background-position: bottom;
  height: 500px;
}
.sight{
  background-image: url("150905-malaysia-kuala-lumpur-73.jpg");
  background-position:top;
  background-size: 400px;
}
.camp{
  background-image: url("gettyimages-649155058.jpg");
  background-position: center;
  background-size: cover;
  height: 500px;

}
.hike{
  background-image: url("hiking-gear-checklist.jpg");
  background-position: left;
  background-size: cover;
  height: 500px;
}
