body{
}
.first{
  position: fixed;
  float: none;
  width: 100%;
  height: auto;
}
.bg{
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  float: left;
  width: 100%;
  height: 100vh;
}
.topbar, ul {
  list-style-type: none;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0, 0.9);
}

li:nth-of-type(1){
  display: inline-block;
  font-family: 'Neucha', cursive;
  font-size: 16px;
  color: white;
  float: left;
}

li {
  float: right;
}

li a {
  display: block;
  font-family: 'Neucha', cursive;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.name{
  width: 100%;
  height: 25vh;
  color: black;
  text-align: center;
  margin:2px;
  border: 3px solid black;
  border-radius: 50px;
  font-size: 45px;
}
.image img{
  margin: 8px;
  float : left;
  position: absolute;
  bottom: 10%;
  top: 10%;
  padding: 15px;
  left: 5%;
  border-radius: 100px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  position: sticky;
  width: 50%;
  height: 60vh;
}
.reviews{
  font-size: 35px;
  color: black;
  float: right;
  position: absolute;
  right: 24%;
  text-decoration: underline;
}
.star{
  font-size: 25px;
  color: white;
  float: right;
  position: absolute;
  padding: 2px;
  right: 8%;
  top: 53%;
  background-color: black;
  opacity: 0.8;
  width : 30%;
  height: 40vh;
  text-align: center;
  margin: 8px;
}

a:hover{
  text-decoration: none;
}

.footer{
  position: absolute;
  float: right;
  top: 97%;
  right: 31.5%;
}
.button {
  vertical-align: middle;
  background-color: white;
  border: 1px solid black;
  color: black;
  text-align: center;
  font-size: 14px;
  padding:20px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  float: left;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -30px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 10px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
